{{>header}}
<title>Crud | Update</title>
{{>navbar}}

<div class="container-fluid my-2">
    <div class="w-100">
        <div class="w-75 m-auto center_div">
            <h4 class="footer_last">Update Employee Record</h4>
            {{#if show}}
            <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}
            <form action="/update/{{data.id}}/" method="post">
                <div class="mb-3">
                    <label>Name:</label>
                    <input type="text" name="name" placeholder="Enter Your Full Name:" class="form-control" value="{{data.name}}">
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label>Email:</label>
                        <input type="email" name="email" placeholder="Enter email Address:" class="form-control"  value="{{data.email}}">
                    </div>
                    <div class="col-md-6">
                        <label>Phone:</label>
                        <input type="text" name="phone" placeholder="Enter Your Phone Number:" class="form-control"  value="{{data.phone}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label>Designation:</label>
                        <input type="text" name="dsg" placeholder="Enter Your Designation:" class="form-control"  value="{{data.dsg}}">
                    </div>
                    <div class="col-md-6">
                        <label>Salary:</label>
                        <input type="number" name="salary" placeholder="Enter Your salary:" class="form-control"  value="{{data.salary}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label>City:</label>
                        <input type="text" name="city" placeholder="Enter Your city:" class="form-control"  value="{{data.city}}">
                    </div>
                    <div class="col-md-6">
                        <label>State:</label>
                        <input type="text" name="state" placeholder="Enter Your State Name:" class="form-control"  value="{{data.state}}">
                    </div>
                </div>
                <div class="mt-3">
                    <button class="footer_last w-100 border-0 rounded p-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</div>

{{>footer}}